<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>

    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

   <!-- TO turn off websocket in IIS for debugging iisnode with iisnode-inspector-0.7.3.dll
      <webSocket enabled="false" /> 
   -->
   
   <webSocket enabled="false" /> 
   
   
   <!-- IISNode.yml can override iisnode configuration in web.config -->
   <iisnode 
      loggingEnabled="true"
	    debuggingEnabled="true"
   />

    <!-- URL rewrite happens early in the pipeline. Handlers mapping will use the url after rewrite. 
         However, the original URL is passed to node.js for processing (not the rewritten url).    
         Here is configured so that everything is processed by server.js script. IIS will not serve static files.
         Static files will also be served by server.js.
    -->

    <rewrite>  
       <rules>  
            <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">  
                 <match url="iisnode" />  
            </rule>  
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                      
                <match url="^server.js\/debug[\/]?" />  
            </rule>  
            <rule name="StaticContent" patternSyntax="ECMAScript" stopProcessing="true">               
                <match url="public/.*" />  
                <action type="None" logRewrittenUrl="true" />
            </rule>  
            <rule name="DynamicContent" patternSyntax="Wildcard">  
                 <match url="*" /> 
                 <action type="Rewrite" url="server.js" logRewrittenUrl="true" />                    
            </rule>  
       </rules>  
    </rewrite>

    <!-- The status code need to be changed to exclude 2xx -->
    <tracing>
        <traceFailedRequests>
            <add path="*">
                <traceAreas>
                    <add provider="ASP" verbosity="Verbose" />
                    <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                    <add provider="ISAPI Extension" verbosity="Verbose" />
                    <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,iisnode" verbosity="Verbose" />
                </traceAreas>
                <failureDefinitions statusCodes="200-599" />
            </add>
        </traceFailedRequests>
    </tracing>

</system.webServer>
</configuration>